
@{
    Layout = "~/Views/Shared/AlumnosLayout.cshtml";
}

<div class="container body-content">
    <h1>Preguntas</h1>
    <div class="col-lg-5">
        <p class="text-secondary">
            Recuerda que cuando antes respontas correctamente, mas chances tienes de sumar un mejor puntaje,
            y si tu respuesta es la mas completa, recibirás un puntaje bonus!!!!!!!!!!!!!
        </p>
    </div>
</div>

<!--div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item nav-link active">
            @*Html.ActionLink("Todas", "Preguntas", "Alumno")
        </li>
        <li class="nav-item nav-link active">
            @Html.ActionLink("Sin Corregir", "Preguntas", "Alumno","SinCorregir")
        </li>
        <li class="nav-item nav-link active">
            @Html.ActionLink("Correctas", "Preguntas", "Alumno","Correctas")
        </li>
        <li class="nav-item nav-link active">
            @Html.ActionLink("Regular", "Preguntas", "Alumno","Regular")
        </li>
        <li class="nav-item nav-link active">
            @Html.ActionLink("Mal", "Preguntas", "Alumno","Mal")*@
        </li>
    </ul>
</div-->


