
@{
    Layout = "~/Views/Shared/AlumnosLayout.cshtml";
}

<div class="container">
    <h2>Acerca De</h2>

    <br />

    <div class="d-flex justify-content-around">

        <div style="width: 18rem;">
            <img class="card-img-top img-circle card-body" src="~/Content/img-acerca-de/A.jpg" alt="img-1">
            <div class="card-body">
                <p class="d-flex justify-content-center">Moises Apaza</p>
            </div>
        </div>

        <div style="width: 18rem;">
            <img class="card-img-top img-circle card-body" src="~/Content/img-acerca-de/C.png" alt="img-1">
            <div class="card-body">
                <p class="d-flex justify-content-center">Fernando Carreño</p>
            </div>
        </div>

        <div style="width: 18rem;">
            <img class="card-img-top img-circle card-body" src="~/Content/img-acerca-de/1.jpg" alt="img-1">
            <div class="card-body">
                <p class="d-flex justify-content-center">Manuel León</p>
            </div>
        </div>

    </div>
</div>


