@{
    Layout = "~/Views/Shared/BaseLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <!-- ACA VA EL MENU PARA ALUMNOS -->
    <div>
        @Html.Partial("pv_Footer")
    </div>
</body>
</html>
