<!DOCTYPE HTML>
<html>
<head>
    <title>0hh noo</title>
    <link href="~/Content/css404/style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
    <!--start-wrap--->
    <div class="wrap">
        <!---start-header---->
        <div class="header">
            <div class="logo">
                <h1><a href="#">Ohh</a></h1>
            </div>
        </div>
        <!---End-header---->
        <!--start-content------>
        <div class="content">
            <img src="~/Content/images404/error-img.png" title="error" />
            <p><span><label>O</label>hh.....</span>You Requested the page that is no longer There.</p>
            <a href="#">Back To Home</a>
            <div class="copy-right">
                <p>&copy; 2019 Ohh. Todo bien.</p>
            </div>
        </div>
        <!--End-Cotent------>
    </div>
    <!--End-wrap--->
</body>
</html>
