@{
    ViewBag.Title = "Error";
    Layout = "/Views/Shared/AnonimoLayout.cshtml";
}

<h1>Ocurrio un error!!!</h1>
<br />

<h3>@ViewBag.ErrorMensaje</h3>
<h4>@ViewBag.Descripcion</h4>

<a class="btn btn-primary ml-2" href="/Home/Ingresar">Ir al Inicio</a>